<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExoPlanet List</title>
</head>

<body>
    <header>ExoPlanets Discovered...</header>
    <a href="/exoplanets/new">Log Your Discovery Here</a>
    <div>
        <% planets.forEach(planet => { %>
        <div class="planet">
            <a href="/exoplanets/<%=planet._id; %>">
                <h2><%=planet.name; %></h2>
            </a>
            <%}) %>
        </div>
    </div>
</body>

</html>