<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExoPlanet List</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="body">
    <header>
        <nav>
        <h1 class="main">Exoplanet Logger<h1>
            
        <a id="link" href="/exoplanets/new">Log Your Discovery Here</a>
    </nav>
</header>
    <div class="planetlist">
        <h2>List of Exoplanets</h2>
        <% planets.forEach(planet => { %>
        <div class="planet">
            <a href="/exoplanets/<%=planet._id; %>">
                <h2><%=planet.name; %></h2>
            </a>
            <%}) %>
        </div>
    </div>

</div>
</body>

</html>