<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <title>ExoPlanet List</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="jquery.js"></script>
</head>

<body>
<div class="body">
    <header>
        <nav>
        <h1 class="main">ExoPlanet Logger<h1>
        <a id="link" href="/exoplanets/new">Log Your Discovery Here</a>
    </nav>
</header>
    <div class="planetlist">
        <h2>List of Exoplanets</h2>
        <% planets.forEach(planet => { %>
        <div class="planet">
            <a href="/exoplanets/<%=planet._id; %>">
                <h2><%=planet.name; %></h2>
            </a>
            <%}) %>
        </div>
    </div>

</div>
</body>

</html>