<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Planet</title>
</head>
<body>
    <header>What is the name of the planet?</header>
    <form action="/exoplanets" method="POST">
     Planet name: <input type="text" name="name"/><br>
     Planet environment: <input type="text" name="environment"/><br>
     Lifeforms: <input type="text" name="lifeforms"/><br>
     Water: <input type="checkbox" name="water"/><br>
     Habitable-zone: <input type="checkbox" name="habitable"/><br>
     <input type="submit" name="" value="Log Planet"/>
    </form>
</body>
</html>