* {
    font-family: 'Orbitron', sans-serif;


}
body {
    background-image: url("https://i.imgur.com/Yzy8ieW.jpg");
    background-size: cover;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
header {
    align-items: center;
   font-size: 1.5rem;
    color: rgba(255, 255,255, 1)
}
#link {
    display: flex;
    justify-content: center;
    transition: all .6s ease 0s;
    text-decoration: none;
    border: 3px solid orange;
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
    align-items: center;
}
#link:hover {
    color: rgb(197, 128, 0);
    border: 3px solid rgb(197, 128, 0);
}
.planetlist {
    padding: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(128, 128, 128, .6);
    border: 1px solid;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    font-style: italic;

    
}
.planetlist a {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    color: white;
    
}
.planetlist a:hover {
    color: rgb(25, 25, 253);
}
section {
    display: flex;
    justify-content: center;
}

/* Show route */
.show {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    /* font-size: 1.45rem; */
    align-items: center;
    /* padding: 10px; */
    background-color: rgb(255, 255, 255, .2);
    border: 1px solid;
    border-radius: 15px;
}
@media (max-width: 35rem) {
    .show {
        width: 80%;
    }
}
.show p {
    font-size: 1.2rem;
}

.edit-and-delete{
    display: flex;
    padding: 5px;
    margin: 5px;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.3s ease 0s;
}
.edit-and-delete:hover {
    color: teal;
}
#edit {
    margin-right: 10px;
}
.home-icon-show {
 display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    text-align: center;
    transition: all 0.3s ease 0s;
    margin-left: 5px
    /* margin-right: 500px; */
}
.home-icon-show:hover {
    color: teal;
}
#astro {
    text-align: center;
}
/* NEW AND EDIT ROUTES */
.new-planet {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    font-size: 1.45rem;
    align-items: center;
    padding: 10px;
    background-color: rgb(255, 255, 255, .3);
    border: 1px solid;
    border-radius: 15px;
}
@media (max-width: 35rem) {
    .new-planet {
        width: 80%;
    }
}