* {
    font-family: 'Orbitron', sans-serif;


}
body {
    background-image: url("https://i.imgur.com/hx2uzIx.jpg");
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
    padding: 30px 10%;
    /* opacity: .5; */
}
header {
    align-items: center;
   font-size: 1.5rem;
    color: rgba(255, 255,255, 1)
}
/* .main {
    font-size: 45px;
} */
#link {
    color: rgba(255, 255,255, 1);
    transition: all 0.3s ease 0s;
}
#link:hover {
    color: teal;
}
.planetlist {
    /* background-color: black;
    opacity: .75; */
    width: 25%;
    padding: 25px;
    text-align: center;
    margin-top: 25px;
    color: white;
    font-weight: bold;
    font-style: italic;
    margin-left: 90px;
    
}
.planetlist a {
    color:rgba(255, 255,255, 1);
    transition: all 0.3s ease 0s;
    
}
.planetlist a:hover {
    color: teal;
}
/* Show route */
.background-show {
    background-color: white;
}
.show {
    color: white;
    margin-top: 200px;
    margin-left: 15px;
    width: 450px;
    padding-left: 10px;
    
}
.edit-and-delete{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 0.3s ease 0s;
}
.edit-and-delete:hover {
    color: teal;
}
#edit{
    margin-left: 75px;
    margin-bottom: 10px;
    
}
.form {
    margin-right: 125px;
    margin-bottom: 10px;
}
.home-icon-show {
 display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    text-align: center;
    transition: all 0.3s ease 0s;
    /* margin-right: 500px; */
}
.home-icon-show:hover {
    color: teal;
}
/* NEW AND EDIT ROUTES */
.new-planet {
    color: white;
    margin-top: 200px;
    margin-left: 150px;
    width: 500px;
    padding-left: 10px;
    font-size: 1.45rem;
}